:root {
  --background-color: #2c3e50;
  --border-color: #7591AD;
  --text-color: #34495e;
  --color1: #EC3E27;
  --color2: #fd79a8;
  --color3: #0984e3;
  --color4: #00b894;
  --color5: #fdcb6e;
  --color6: #e056fd;
  --color7: #F97F51;
  --color8: #BDC581;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 180px;
  height: 180px;
  background-color: var(--color1);
  position: relative;
  transform: rotate(45deg);
  animation: beat 1.5s ease-in-out infinite;
}
.box::after, .box::before {
  content: '';
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--color1);
  position: absolute;
}
.box::after {
  left: -50%;
}
.box::before {
  top: -50%;
}
@keyframes beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  100% {
    transform: rotate(45deg) scale(0.8);
  }
}