*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d3436;
}
#box{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2d3436;
  box-shadow: -20px 0 #FFE4C4, 20px 0 aquamarine;
  animation: rotation 1.5s linear infinite;
}
@keyframes rotation {
  0%{
      transform: rotate(0deg);
      width: 20px;
      height: 20px;
      box-shadow: -20px 0 #FFE4C4, 20px 0 aquamarine;
  }
  50%{
      transform: rotate(360deg);
      width: 0;
      height: 0;
      box-shadow: 0 0 #FFE4C4, 0 0 aquamarine;
  }
  100%{
    transform: rotate(0deg);
    width: 20px;
    height: 20px;
    box-shadow: -20px 0 #FFE4C4, 20px 0 aquamarine;
}
}